#head{
  text-align: center;
  margin-top: 2%;
  font-family: 'Alegreya', serif;
}
.table.table-bordered{
    border:1px solid blue;
    margin-top:40px;
  }
.table.table-bordered > thead > tr > th{
    border:1px solid black;
}
.table.table-bordered > tbody > tr > td{
    border:1px solid black;
}
